
<div class="contain">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Create New Product</h2>
        <p class="text-gray-600 mb-6 text-sm">
            Fill in the form to post your product
        </p>
        <form [formGroup]="userformservice.form" (ngSubmit)="onSubmit()" method="post" autocomplete="off">
            <div class="space-y-2">
                <div>
                   
                    <input type="hidden"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                         formControlName="_id">
                </div>
                <div>
                    <label for="name" class="text-gray-600 mb-2 block">Name</label>
                    <input type="text"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        formControlName="name" required>
                </div>
                <div>
                    <label for="Description" class="text-gray-600 mb-2 block">Father Name</label>
                    <input type="text"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                         formControlName="fatherName"  >
                </div>
                <div>
                    <label for="price" class="text-gray-600 mb-2 block">City</label>
                    <input type="text"  
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                         formControlName="city" >
                </div>
                
                <div>
                    <label for="color" class="text-gray-600 mb-2 block">Mobile</label>
                    <input type="text" name="color" id="color"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Blue" formControlName="mobile" >
                </div>
                <div>
                    <label  class="text-gray-600 mb-2 block">Select Image</label>
                    <input type="file" id="image" value="select"
                            
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******" (change)="onSelectImage($event)" >
                </div>
            </div>
            <div class="mt-6">
                <div class="flex items-center">
                    <input type="checkbox" name="aggrement" id="aggrement"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                    <label for="aggrement" class="text-gray-600 ml-3 cursor-pointer">I have read and agree to the <a
                            href="#" class="text-primary">terms & conditions</a></label>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit"
                    class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">Post Your infos</button>
            </div>
            <img *ngIf="imagePreview" style="width:80px; height: 80px ;" [src]="imagePreview" alt="">
        </form>

        

        
    </div>
</div>

