
<div class="contain">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Create New Product</h2>
        <p class="text-gray-600 mb-6 text-sm">
            Fill in the form to post your product
        </p>
        <form  method="post" autocomplete="off">
            <div class="space-y-2">
                <div>
                    <label for="name" class="text-gray-600 mb-2 block">Product Name</label>
                    <input [(ngModel)]=" product.name " type="text" name="name" id="name"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Babies Product" >
                </div>
                <div>
                    <label for="Description" class="text-gray-600 mb-2 block">Product Description</label>
                    <input [(ngModel)]=" product.description " type="text" name="description" id="Description"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Enter your product description here!" >
                </div>
                <div>
                    <label for="price" class="text-gray-600 mb-2 block">Product Price</label>
                    <input [(ngModel)]=" product.price " type="text" name="price" id="price"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="80$" >
                </div>
                
                <div>
                    <label for="color" class="text-gray-600 mb-2 block">Product Color</label>
                    <input [(ngModel)]=" product.color " type="text" name="color" id="color"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Blue">
                </div>
                <div>
                    <label for="color" class="text-gray-600 mb-2 block">Owner</label>
                    <input [(ngModel)]=" product.idOwner " type="text" name="color" id="color"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Blue">
                </div>
                <div>
                    <label for="color" class="text-gray-600 mb-2 block">Category</label>
                    <input [(ngModel)]=" product.idCategory " type="text" name="color" id="color"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Blue">
                </div>
                <div>
                    <label for="articleImage" class="text-gray-600 mb-2 block">Product Image</label>
                    <input (change)="select($event)" type="file" name="articleImage" id="image" value="select"
                            
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******" multiple>
                </div>
            </div>
            <div class="mt-6">
                <div class="flex items-center">
                    <input type="checkbox" name="aggrement" id="aggrement"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                    <label for="aggrement" class="text-gray-600 ml-3 cursor-pointer">I have read and agree to the <a
                            href="#" class="text-primary">terms & conditions</a></label>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" (click)="addProduct()"
                    class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">Post Your Product</button>
            </div>
            
        </form>

        

        
    </div>
</div>
